<span class="dropdown-wrapper">
    <span class="menubar-button" data-button-id="{{buttonId}}">{{text}}</span>
    <div class="dropdown">
        {{#items}}
        <div class="dropdown-item" data-item-id="{{id}}">{{text}}</div>
        {{/items}}
    </div>
</span>

