<div id="program-window-{{pid}}" class="program-window">
    <div class="titlebar">
        {{title}}
        <div class="titlebar-buttons">
            {{#titlebarButtons}}
            <span class="titlebar-button titlebar-{{name}}-button">{{{icon}}}</span>
            {{/titlebarButtons}}
        </div>
    </div>

    <div class="menubar"></div>

    <div class="canvas-wrapper">
        <canvas width="{{width}}" height="{{height}}">
        </canvas>
    </div>
</div>