
#screen-area {
    position: relative;
    overflow: hidden;
    /*
    left: 10px;
    top: 10px;
    */
    width: 1024; 
    height: 768; 

    background-color: lightsteelblue; 
}

.program-window {
    position: absolute; 

    background: white; 
    user-select: none; 
    border: 2px solid lightgray;
}
.program-window.focused {
    outline: solid rgb(64, 109, 207) 1px;
}

.program-window-header {
    /* Header shouldn't prevent window resize, and its contents shouldn't "spill out" visibly */
    text-wrap: nowrap;
    overflow: hidden;

    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid lightgray;
    font-family: monospace; 
    font-weight: bold; 
    font-size: 18px; 
    height: 25px;
}
.program-window.focused .program-window-header {
    background-color: rgb(55, 202, 239);
}

.canvas-wrapper {
    overflow: hidden;
    
    background-color: lightgray;
}

.cursor-move .program-window {
    cursor: move;
}

/* resize takes precedence over move during easy aim, so the classes need to do the same */
.cursor-ne-resize .program-window {
    cursor: ne-resize;
}
.cursor-se-resize .program-window {
    cursor: se-resize;
}
.cursor-sw-resize .program-window {
    cursor: sw-resize;
}
.cursor-nw-resize .program-window {
    cursor: nw-resize;
}
.cursor-n-resize .program-window {
    cursor: n-resize;
}
.cursor-e-resize .program-window {
    cursor: e-resize;
}
.cursor-s-resize .program-window {
    cursor: s-resize;
}
.cursor-w-resize .program-window {
    cursor: w-resize;
}