
#screen-area {
    position: relative;
    overflow: hidden;
    /*
    left: 10px;
    top: 10px;
    */
    /*width: 1024; */
    width: 800;
    height: 768; 

    background-color: lightsteelblue; 
    font-family: monospace; 
}

#dock {
    position: absolute;
    bottom: 0;

    z-index: 2147483647; /* dock is always on top. i32 max */
    height: 25;
    width: 100%;
    background: darkturquoise;
}

#launcher-icon {
    float: left;
    height: 100%;
    width: 100px;
    margin-top: 2px;
    margin-right: 10px;

    user-select: none; /* prevent cursor-change and ability to copy-paste text */
    text-align: center;
    font-size: 16px;
    font-weight: bold; 
    color: whitesmoke;
    cursor: pointer;
}
#launcher-icon:hover {
    color: red;
}

.dock-item {
    border: 1px solid black;
    width: 70px;
    float: left;
    margin-top: 2px;
    margin-right: 4px;

    overflow: hidden;
    user-select: none; /* prevent cursor-change and ability to copy-paste text */
    text-align: center;
    font-size: 16px; 
    cursor: pointer;
}
.dock-item:hover {
    color: white;
}
.dock-item.focused {
    background-color: rgb(100, 202, 255);
    font-weight: bold; 
    border-color: gray;
}

.program-window {
    position: absolute; 

    background: lightgray; 
    user-select: none; /* prevent cursor-change and ability to copy-paste text */
    /*border: 1px solid lightgray;*/
}
.program-window.focused {
    outline: solid rgb(100, 150, 207) 1px;
}

.titlebar {
    /* Header shouldn't prevent window resize, and its contents shouldn't "spill out" visibly */
    text-wrap: nowrap;
    overflow: hidden;

    text-align: center;
    background-color: rgb(142, 225, 245);
    border-bottom: 2px solid lightgray;
    padding-left: 6px;
    padding-top: 3px;
    font-weight: bold; 
    font-size: 18px; 
    height: 25px;
    color: #777;
}
.program-window.focused .titlebar {
    background-color: rgb(55, 202, 239);
    color: #000;
}


.titlebar-buttons {
    position: absolute;
    top: 1px;
    right: 1px;
}
.titlebar-button {
    width: 23px;
    height: 23px;
    float: right;

    color: white;
    border: 1px solid #99A;
    border-radius: 1px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
.titlebar-button:hover {
    background: #F55;
}

.menubar {
    background-color: rgb(240, 240, 240);
    padding: 1px;
}
.menubar:empty {
    padding: 0px;
}
.menubar-button {
    padding-left: 5px;
    padding-right: 5px;

    font-size: 14px;
    font-weight: normal; 
    color: black;
    border: 1px solid transparent;
    cursor: pointer;
}
.program-window:not(.focused) .menubar-button {
    color: gray;
}
.menubar-button:hover {
    border: 1px solid darkgray;
    border-radius: 2px;
    background: white;
}

.dropdown {
    display: none;
    position: absolute;
    background: white;

    border: 1px solid darkgray;
    border-radius: 3px;
}
.dropdown.active {
    display: block; 
}
.dropdown-item {
    padding-left: 13px;
    padding-right: 13px;
    height: 25px;
    margin: 2px;
    
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 3px;
    font-size: 14px;
    font-weight: normal; 
    cursor: pointer;
}
.dropdown-item:hover {
    background: lightblue;
}

.canvas-wrapper {
    overflow: hidden;
    
    background-color: lightgray;
}

.cursor-move .program-window {
    cursor: move;
}

/* resize takes precedence over move during easy aim, so the classes need to do the same */
.cursor-ne-resize .program-window {
    cursor: ne-resize;
}
.cursor-se-resize .program-window {
    cursor: se-resize;
}
.cursor-sw-resize .program-window {
    cursor: sw-resize;
}
.cursor-nw-resize .program-window {
    cursor: nw-resize;
}
.cursor-n-resize .program-window {
    cursor: n-resize;
}
.cursor-e-resize .program-window {
    cursor: e-resize;
}
.cursor-s-resize .program-window {
    cursor: s-resize;
}
.cursor-w-resize .program-window {
    cursor: w-resize;
}